/* Animation Code for the Magnet icons on the Contentful pages */

@import '~/styles/vars.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/solid.min.css");

.content-text ::v-deep h2::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: var(--fa-font-solid);
  content: "\f076";
  transform: rotate(-90deg);
  color: var(--accent-color);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 0.75rem;
  top: 0;
  font-size: smaller;
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.additional-content-text ::v-deep h3::after {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: var(--fa-font-solid);
  content: "\f076";
  transform: rotate(-90deg);
  color: var(--accent-color);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 0.75rem;
  top: 0;
  font-size: smaller;
  animation-name: slideIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(20rem) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(-90deg);
    opacity: 1;
  }
}