/* Import the Google Font: Assistant */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Assistant', sans-serif;
    color: var(--brand-indigo);
}

:root {
    --h1-min: 1.75rem;
    --h1-max: 2.5rem;
    --h2-min: 1.5rem;
    --h2-max: 2.25rem;
    --h3-min: 1.25rem;
    --h3-max: 2rem;
    --h4-min: 1rem;
    --h4-max: 1.75rem;
    --h5-min: 0.75rem;
    --h5-max: 1.5rem;
    --h6-min: 0.5rem;
    --h6-max: 1.25rem;
    --font-scaler: 10vw;
    font-size: clamp(var(--h6-min), var(--font-scaler), var(--h6-max));
  }

  h1 {
    font-weight: 600;
    --font-minSize: var(--h1-min);
    --font-maxSize: var(--h1-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }

  h2 {
    font-weight: 300;
    padding-bottom: 2rem;
    --font-minSize: var(--h2-min);
    --font-maxSize: var(--h2-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }

  h3 {
    font-weight: 200;
    padding-bottom: 2rem;
    margin-top: 5px;
    --font-minSize: var(--h3-min);
    --font-maxSize: var(--h3-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }

  h4 {
    font-weight: 300;
    --font-minSize: var(--h4-min);
    --font-maxSize: var(--h4-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }

  h5 {
    font-weight: 300;
    --font-minSize: var(--h5-min);
    --font-maxSize: var(--h5-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }

  h6 {
    --font-minSize: var(--h6-min);
    --font-maxSize: var(--h6-max);
    font-size: clamp(var(--font-minSize), var(--font-scaler), var(--font-maxSize));
  }


/* h1 {
    font-weight: 600;
    --font-minSize: 1.75rem;
    --font-maxSize: 2.5rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
}

h2 {
    font-weight: 300;
    padding-bottom: 2rem;
    --font-minSize: 1.5rem;
    --font-maxSize: 2.25rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
}

h3 {
    font-weight: 200;
    padding-bottom: 2rem;
    margin-top: 5px;
    --font-minSize: 1.25rem;
    --font-maxSize: 2rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
}

h4 {
    font-weight: 300;
    --font-minSize: 1rem;
    --font-maxSize: 1.75rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
}

h5 {
    font-weight: 300;
    --font-minSize: 0.75rem;
    --font-maxSize: 1.5rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
}

h6 {
    --font-minSize: 0.5rem;
    --font-maxSize: 1.25rem;
    --font-scaler: 10vw;
    font-size: clamp( var(--font-minSize), var(--font-scaler), var(--font-maxSize));
} */